<template>
    <div id="users">
        <v-server-table
                url="/api/users"
                :columns="columns"
                :options="options">
                <!--name="usersTable"-->
        </v-server-table>
    </div>
</template>

<script>

    import {mapGetters} from 'vuex';
    import {ServerTable, ClientTable, Event} from 'vue-tables-2';
    // import edit from './vue-table/edit';
    import templatemod from './vue-table/template';

    Vue.use(ServerTable, [], false, templatemod('server'));

    export default {
        data() {
            return {
                columns:['id','firstname','lastname','email'],
                options: {
                    texts:{
                        count: this.txtfromto,
                        filter: this.txtfilter,
                        filterPlaceholder: this.txtquery,
                        limit: this.txtelpage,
                        noResults:'No matching records',
                        page:'Pagina:', // for dropdown pagination
                        filterBy: 'Filter by {column}', // Placeholder for search fields when filtering by column
                        loading:'Loading...', // First request to server
                        defaultOption:'Select {column}' // default option for list filters
                    },
                    pagination:{
                        chunk:5
                    },
                    perPage: 5,
                    perPageValues: [5, 10, 25, 50],
                    sortIcon: {
                        base: 'fa',
                        up: 'fa-chevron-up',
                        down: 'fa-chevron-down'
                    }
                    /*templates: {
                        edit
                    }*/
                }
            }
        },
        props: [
            'txtfromto',
            'txtfilter',
            'txtquery',
            'txtelpage'
        ],
        computed: {
            ...mapGetters([
                'getApiToken',
                'getUser'
            ])
        },
        created() {
            console.log('api_token:' + this.getApiToken);
            console.log(this.getUser);
            // console.log(this.getUser.api_token);
                Vue.http.headers.common['Authorization'] = 'Bearer ' + this.getApiToken;
            }
    }
</script>

<style>
</style>
