<template>
</template>

<script>
    import {mapActions} from 'vuex';

    export default {
        data() {
            return {}
        },
        props: ['user'],
        methods: {
            ...mapActions([
                'setApiToken',
                'setUser'
            ])
        },
        created() {
            this.setUser(this.user);
        }
    }
</script>

<style>
</style>
