<template>
    <div id="users">
        sdasdas
        <!-- <v-server-table
                url="/api/users"
                :columns="['id','firstname','lastname','email']"
                :options="options">
        </v-server-table> -->
    </div>
</template>

<script>

    import {mapGetters} from 'vuex';

    import {ServerTable, ClientTable, Event} from 'vue-tables-2';

    import edit from './vue-table/edit';
    import templatemod from './vue-table/template-mod';

    //Vue.use(ServerTable, [], false, templatemod('server'));

    export default {
        data() {
            return {
                columns:[],
                options: {
                    /*templates: {
                        edit
                    }*/
                }
            }
        },
        computed: {
            ...mapGetters([
                'getApiToken',
                'getUser'
            ])
        },
        created() {
            console.log('api_token:' + this.getApiToken);
            console.log(this.getUser);
            // console.log(this.getUser.api_token);
                Vue.http.headers.common['Authorization'] = 'Bearer ' + this.getApiToken;
            }
    }
</script>

<style>
</style>
