<template>
    <div  class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="panel panel-default">
                    <ul class="list-group">
                        <li  v-for="post in posts"
                             class="list-group-item"
                             :class="{mymessage: post.user.id == currentUserId}">
                            <img :src="post.user.avatar" alt="avatar" width="40px" height="40px" class="search-avatar">
                            <b>{{ post.user.firstname }} {{ post.user.lastname }}:</b> {{ post.message }} <span class="pull-right">{{ post.timestamp | timeago }}</span>
                        </li>
                    </ul>
                </div>

                <input type="text"
                       class="form-control"
                       :placeholder="txt"
                       required="required"
                       v-model="newMsg"
                       @keyup.enter="press">
            </div>
        </div>


    </div>
</template>

<script>

    export default {
        props: ['txt'],
        data() {
            return {
                posts: [],
                newMsg: '',
            }
        },
        computed: {
            currentUserId() {
                return this.$store.getters.user_id;
            }
        },
        methods: {
          press() {
              this.$http.post('/message', { message: this.newMsg}) //updated
                  .then( (resp) => {
                      this.newMsg = '';
                  })
          }
        },
        filters: {
//            formatDate(value) {
//                if (value) {
//                    return moment(String(value)).format('MM/DD/YYYY hh:mm')
//                }
//            }
        },
        mounted() {
            console.log('chat pronta');
            Echo.channel('public-test-channel')
                .listen('ChatMessageWasReceived', (data) => {
                    this.posts.push({
                        message: data.chatMessage.message,
                        user: data.user,
                        timestamp: data.chatMessage.created_at,
                        avatar: data.avatar
                    });
                    //document.getElementById("noty_audio").play();
                    console.log(data);
                });

        }
    }
</script>

<style scoped>
    .mymessage {
        background-color: #d6e9c6;
    }
    .chat-avatar {
        border-radius: 50%;
    }
</style>
