<template>
    <div>
        <p v-if="loading" class="text-center">
            Loading
        </p>
        <p v-else class="text-center">
            <button class="btn btn-success" v-if="status == 0" @click="add_friend">Add Friend</button>
            <button class="btn btn-success" v-if="status == 'pending'" @click="accept_friend">Accept Friend</button>
            <span class="text-success" v-if="status == 'waiting'">Waiting for response</span>
            <span class="text-success lead" v-if="status == 'friends'">Friends!</span>
        </p>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                status: '',
                loading: true
            }
        },
        props: ['profile_user_id'],
        methods: {
            add_friend() {
                this.loading = true;
                this.$http.get('/add_friend/' + this.profile_user_id)
                    .then( (r) => {
                            console.log(r);
                            if (r.body == 1) {
                                this.status = 'waiting';
                                noty({
                                    type: 'success',
                                    layout: 'bottomLeft',
                                    text: 'Friend request sent',
                                    timeout: 2000
                                });
                                this.loading = false;
                            }
                        }
                    );
            },
            accept_friend() {
                this.loading = true;
                this.$http.get('/accept_friend/' + this.profile_user_id)
                    .then( (r) => {
                        console.log(r);
                        if(r.body == 1) {
                            this.status = 'friends';
                            noty({
                                type: 'success',
                                layout: 'bottomLeft',
                                text: 'You are now friends!',
                                timeout: 2000
                            });
                            this.loading = false;
                        }
                    });
            }

        },
        mounted() {
            console.log('Component mounted.');
            this.$http.get('/check_relationship_status/' + this.profile_user_id)
                .then( (resp) => {
                    this.status = resp.body.status;
                    this.loading = false;
                });
        }
    }
</script>
