<template>
    <div>

    </div>
</template>

<script>

    export default {
        methods: {
            get_auth_user_data() {
                this.$http.get('/get_auth_user_data')
                    .then( (resp) => {
                        this.$store.commit('auth_user_data', resp.body);
                    });
            }
        },
        mounted() {
            this.get_auth_user_data();
        }
    }
</script>

<style>
</style>

