<template>
    <div>
        <hr>
        <p class="text-center" v-for="like in post.likes">
            <img :src="like.user.avatar" alt="avatar" width="20px" height="20px" class="avatar">
        </p>
        <hr>
        <button class="btn btn-xs btn-primary" @click="like()" v-if="!auth_user_likes_post">
            Like
        </button>
        <button class="btn btn-xs btn-danger" @click="unlike()" v-else>
            Unlike
        </button>
    </div>
</template>

<script>

    export default {
        props: ['id'],
        computed: {
            post() {
                return this.$store.state.posts.find( (post) => {
                    return post.id === this.id
                })
            },
            likers() {
                let likers = [];
                this.post.likes.forEach( (like) => {
                    likers.push(like.user.id);
                });
                return likers;
            },
            auth_user_likes_post() {
//                var check_index = this.likers.indexOf(
//                    this.$store.state.auth_user.id
//                );
                return !(this.likers.indexOf(this.$store.state.auth_user.id) == -1);

//                if (check_index === -1)
//                    return false;
//                else
//                    return true;
            }
        },
        methods: {
            like() {
                this.$http.get('/like/' + this.id)
                    .then( (resp) => {
                        this.$store.commit('update_post_likes', {
                            id: this.id,
                            like: resp.body
                        });
                        noty({
                            type: 'success',
                            layout: 'bottomLeft',
                            text: 'You successfully liked the post!',
                            timeout: 2000
                        });
                    });
            },
            unlike() {
                this.$http.get('/unlike/' + this.id)
                    .then( (resp) => {
                        this.$store.commit('unlike_post', {
                            post_id: this.id,
                            like_id: resp.body
                        })
                    });
                noty({
                    type: 'success',
                    layout: 'bottomLeft',
                    text: 'You successfully unliked the post :(',
                    timeout: 2000
                });
            }
        },
        mounted() {

        }
    }
</script>

<style scoped>
    .avatar-like {
        border-radius: 50%;

    }
</style>
