<template>
    <div>

    </div>
</template>

<script>

    export default {
        name: 'Notification',
        props: ['id'],
        methods: {
            listen() {
                Echo.private('App.User.' + this.id)
                    .notification( (notification) => {
                        noty({
                            type: 'success',
                            layout: 'bottomLeft',
                            text: notification.name + ' ' + notification.message,
                            timeout: 2000
                        });
                        this.$store.commit('add_not', notification);
                        document.getElementById("noty_audio").play();
                        console.log(notification);
                    });
            }
        },
        mounted() {
            this.listen();
        }
    }
</script>


<style>
</style>
