<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <input
                        type="text"
                        class="input-lg form-control"
                        :placeholder="txt"
                        v-model="query"
                        @keyup="search()">
                <div class="dropdown"
                     :class="{open: isDropdownOpen}"
                     @click="isDropdownOpen = !isDropdownOpen">
                    <ul class="dropdown-menu" id="search-drop">
                        <li v-for="user in results">
                            <a :href="'/profile/'+ user.slug ">
                                <img :src="user.avatar" alt="avatar" width="40px" height="40px" class="search-avatar">
                                {{ user.firstname }} {{ user.lastname }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    let algoliasearch = require('algoliasearch');

    let client = algoliasearch('1LCPL6TVP2', '0fa1539193ef4bf4fa94ab5b69adca45' );
    // let client = algoliasearch('0MQOYM22QZ', '46b3da8c21c1422626d1a44686070174' );
    let index = client.initIndex('users');


    export default {
        props: ['txt'],
        data() {
            return {
                query: '',
                results: [],
                isDropdownOpen: false
            }
        },
        methods: {
            search() {
                if(this.query.length > 0) {
                    index.search(this.query, (err, content) => {
                        this.results = content.hits;
                        console.log(err, content);
                        this.isDropdownOpen = true;
                    })
                } else {
                    this.results = [];
                    this.isDropdownOpen = false;
                }

            }
        },
        mounted() {
            this.search();
        }
    }
</script>

<style scoped>
    .search-avatar{
        border-radius: 50%;
    }
    #search-drop {
        width: 100%;
    }
</style>
