<template>
    <li>
        <a href="/notifications">{{ txt }} <span class="badge">{{ all_nots_count }}</span></a>

    </li>
</template>

<script>

    export default {
        props: ['txt'],
        computed: {
            all_nots_count() {
                return this.$store.getters.all_nots_count;
            }
        },
        methods: {
            get_unread() {
                this.$http.get('/get_unread')
                    .then( (nots) => {
                        nots.body.forEach( (not) => {
                            this.$store.commit('add_not', not)
                        })
                    })
            },
        },
        mounted() {
            this.get_unread()
        }
    }
</script>

<style>
</style>
